<div class="container mt-4 rounded p-5 w-50" style="background-color: #F5F5F5">
    <h3 class="mb-4">Infomation</h3>
    <form>
        <div class="form-group row mb-4">
            <label for="staticEmail" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-7 pr-5">
                <input type="text" readonly class="form-control" value="admin">
            </div>
        </div>
        <div class="form-group row mb-4">
            <label for="staticEmail" class="col-sm-2 col-form-label">Fullname</label>
            <div class="col-sm-7 pr-5">
                <input type="text" class="form-control" value="Thái Chí Cường">
            </div>
        </div>
        <div class="form-group row mb-4">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-7 pr-5">
                <input type="text" readonly class="form-control" value="thai.cuong1404@gmail.com">
            </div>
        </div>
        <div class="form-group row mb-4">
            <label class="col-sm-2 col-form-label">Gender</label>
            <div class="col-sm-7 mt-1">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline1">Male</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
                    <label class="custom-control-label" for="customRadioInline2">Female</label>
                </div>
            </div>
        </div>
        <div class="form-group row mb-4">
            <label class="col-sm-2 col-form-label">Gender</label>
            <div class="col-sm-7 mt-1 row">
                <div class="col-sm-4">
                    <div class="dropdown">
                        <button class="btn w-100 btn-sm btn-outline-primary dropdown-toggle" type="button"
                            id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Day
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">1</button>
                            <button class="dropdown-item" type="button">2</button>
                            <button class="dropdown-item" type="button">3</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="dropdown">
                        <button class="btn w-100 btn-sm btn-outline-primary dropdown-toggle" type="button"
                            id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Month
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">January</button>
                            <button class="dropdown-item" type="button">February</button>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="dropdown">
                        <button class="btn btn-sm w-100 btn-outline-primary dropdown-toggle" type="button"
                            id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Year
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">2019</button>
                            <button class="dropdown-item" type="button">1900</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row mb-4">
            <label for="staticEmail" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <div class="custom-control custom-checkbox mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="customControlAutosizing">
                    <label class="custom-control-label" for="customControlAutosizing">Wanna change password</label>
                </div>
            </div>
        </div>

        <div class="form-group row mb-4 account-change-password">
            <label for="inputPassword" class="col-sm-2 col-form-label">Old password</label>
            <div class="col-sm-7 pr-5">
                <input type="password" class="form-control" id="inputPassword" placeholder="Old password">
            </div>
        </div>

        <div class="form-group row mb-4 account-change-password">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-7 pr-5">
                <input type="password" class="form-control" id="inputPassword" placeholder="New password">
            </div>
        </div>

        <div class="form-group row mb-4 account-change-password">
            <label for="inputPassword" class="col-sm-2 col-form-label">Type again</label>
            <div class="col-sm-7 pr-5">
                <input type="password" class="form-control" id="inputPassword" placeholder="Type your password again">
            </div>
        </div>

        <div class="form-group row mb-4">
            <label for="staticEmail" class="col-sm-2 col-form-label"></label>
            <div class="col-sm-10">
                <input type="button" class="btn w-25 btn-sm btn-outline-warning form-control" value="Cập nhật">
            </div>
        </div>
    </form>
</div>