<div class="w-100 h-100 p-5">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6 shadow bg-white rounded p-5">
                <div class="text-center">
                    <h3 class="mb-5 font-weight-bold">SIGN UP</h3>
                </div>
                <form >
                {{!-- <form name="frmMain" method="post" onsubmit="return validate()"> --}}
                    <div class="form-group">
                        <span>First name</span>
                        <input type="text" class="form-control" id="firstname" placeholder="John">
                    </div>
                    <div class="form-group">
                        <span>Last name</span>
                        <input type="text" class="form-control" id="lastname" placeholder="Smith">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp"
                            placeholder="email@auctionfloor.com">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" id="address"
                            placeholder="227 Nguyen Van Cu, Quan 5, TPHCM">
                    </div>
                    <div class="form-group text-center">
                        <small id="emailHelp" class="form-text text-muted">By clicking <strong>Join now</strong>,
                            you agree to Auction Floor's <br><strong>User Agreement</strong> & <strong>Privacy
                                Policy</strong></small>
                        <button type="button" class="btn btn-warning w-50 mt-2 rounded-pill" id="joinnow">Join now</button>
                    </div>
                    <div class="form-group text-center">
                        <label>Already on Auction Floor? <a href="#">Sign in</a></label>
                    </div>
                </form >
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#firstname").click(function(){
        var name = $("#firstname").val();
        alert(name)});
</script>