<div class="p-5 w-75 mx-auto d-flex flex-column">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="w-25" scope="col"></th>
                <th scope="col">Tên</th>
                <th scope="col">Giá</th>
            </tr>
        </thead>
        <tbody>
            {{#each details}}
                <tr>
                    <th class="text-center" scope="row">
                        <a href="#">
                            <img width="128" src="/public/upload/{{product_id}}/main.jpg">
                        </a>
                    </th>
                    <td class="mx-auto align-middle">
                        <a href="#" style="text-decoration: none; color: inherit;">
                            <h4>{{product_name}}</h4>
                        </a>
                        <a href="#">{{fullname}}</a>
                    </td>
                    <td class="align-middle">
                        <h5 class="font-weight-bold">{{formatPrice highest_price}}</h5>
                    </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>