#main{
	width: 980px;
	margin:0 auto
}

.header{
	display: block;
	background-color: #F2F2F2;
	height:120px;
	padding-top: 10px;
	text-align: center;
}
.webName
{
	padding-left: 30px;
	font-size: 50px;
	font-family: serif;
	font-style: italic;
}


.clearFix{
	overflow: hidden;
	clear: both;
}

.item{
	float: left;
	/* border: solid 1px; */
	margin: 10px;
	padding-top: 10px;
   	padding-bottom: 10px;
   	text-align: left;
   	width: 980px;
}
.flexBox-1{
	width: 980px;
	display: flex;
	flex-direction: row;
}



.item img{
	width: 350px;
	height: 300px;
	margin: 0 auto;
}

.detail{
	text-align: left;
	width: 600px;
	font-size: 20px;
}

.example {
width:770px;
height:570px;
margin:20px auto;
padding:15px;
}
 
/* dropdown----------------------------------------------------------------------- */
#menu {
display:inline-block;
width:980px;
margin:0px auto;
/* border:solid 1px;
 */
}

#menu li {
	margin-left: 20px;
	margin-right: 20px;
	float:left;
	position:relative;
	list-style:none;
}

#menu a {
font-weight:bold;
text-decoration:none;
display:block;
color: black;
padding:8px 20px;
}

/* drop down */
#menu li:hover > ul {
opacity:1;
visibility:visible;
}

.test:hover{
	opacity:1;
	visibility:visible;
}

#menu ul {
opacity:0;
visibility:hidden;
padding:0;
width:180px;
position:absolute;
}
#menu ul li {
float:left;
margin:0;
}
#menu ul a {
font-weight:normal;
}
#menu ul ul {
left:175px;
top:0px;	
}

.dropdown1{
	background-color: #F2F2F2;

}

.dropdown2{
	width: 200px;
	background-color: #F2F2F2;
	
}

