#menu ul{
	list-style-type: none;
	text-align: center;
	background: #343a40;
	font-family: sans-serif;
	padding: 0;
}

#menu ul li{
	color: #343a40;
	display: inline-table;
	height: 45px;
	width: 135px;
	line-height: 45px;
	position: relative;
}

#menu ul li a{
	color: #f1f1f1;
	text-decoration: none;
	display: block;
	left: 0;
}

#menu ul li a:hover{
	background: #f1f1f1;
	color: #343a40;
}

#menu ul li> .sub-menu{
	display: none;
	position: absolute;
	text-align: center;
	left: 0;
}

.sub-menu li{
	float: left;
	position: relative;
	text-align: center;
}

#menu ul li:hover .sub-menu{
	display: block;
}

.column {
    align-items: center;
    padding-left: 300px;
    padding-right: 300px;
}

.hr {
    border-width: 1px;
}

.ps4-img {
    width: 200px;
    height: 200px;
    margin-right: 50px;
}

.img-x {
    width: 10px;
    height: 10px;
}

.row {
    border: 1px solid lightgray;
    margin: 0 200px;
    padding: 10px 0;
    border-radius: 5px;
}

.price {
    margin: 0 0 0 100px;
}

.vertical-line {
    size: 500px;
    width: 1px;
    height: 200px;
    border: 0.5px solid lightgray;
    margin: 0 0 0 25px;
}
