<html>
  <head>
    <title></title>
    <meta content="">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <style></style>
  </head>
  <body>
    <div class="card shadow mx-auto my-5" style="width: 40rem;">
      <img src="assets/404.png" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">404 PAGE NOT FOUND</h5>
        <p class="card-text">How are you today, is it a bad day, i know, i know, just take a look at the site of us.</p>
        <p class="card-text">You can see that, this page is not correct, i could not say that this site is not correct but.</p>
        <p class="card-text">Well, just back to homepage if you want to do more things instead of staying at this site and wasting your time.</p>
        <a href="/" class="btn btn-warning">Back home</a>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>