<div class="p-5 w-75 mx-auto d-flex flex-column">
    <table class="table table-hover">
        <thead>
            <tr>
                <th class="w-25" scope="col"></th>
                <th scope="col">Tên</th>
                <th scope="col">Giá</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th class="text-center" scope="row">
                    <a href="#">
                        <img width="128" src="assets/watchlist/ps4-pro-1tb.jpg">
                    </a>
                </th>
                <td class="mx-auto align-middle">
                    <a href="#" style="text-decoration: none; color: inherit;">
                        <h4>Máy chơi game PS4 (64GB / 1TB)</h4>
                    </a>
                    <a href="#">Sony Interactive</a>
                </td>
                <td class="align-middle">
                    <h5 class="font-weight-bold">15.000.000 VNĐ</h5>
                    <p class="text-muted" style="font-size: 10pt;"><strike>20.000.000 VNĐ</strike> | -25%</p>
                </td>
            </tr>
        </tbody>
    </table>
</div>