#menu ul{
	list-style-type: none;
	text-align: center;
	background: #343a40;
	font-family: sans-serif;
	padding: 0;
}

#menu ul li{
	color: #343a40;
	display: inline-table;
	height: 45px;
	width: 135px;
	line-height: 45px;
	position: relative;
}

#menu ul li a{
	color: #f1f1f1;
	text-decoration: none;
	display: block;
	left: 0;
}

#menu ul li a:hover{
	background: #f1f1f1;
	color: #343a40;
}

#menu ul li> .sub-menu{
	display: none;
	position: absolute;
	text-align: center;
	left: 0;
}

.sub-menu li{
	float: left;
	position: relative;
	text-align: center;
}

#menu ul li:hover .sub-menu{
	display: block;
}