#menu ul{
	list-style-type: none;
	text-align: center;
	background: #343a40;
	padding: 0;
}

#menu ul li{
	color: #343a40;
	display: inline-table;
	height: 45px;
	width: 135px;
	line-height: 45px;
	position: relative;
}

#menu ul li a{
	color: #f1f1f1;
	text-decoration: none;
	display: block;
	left: 0;
}

#menu ul li a:hover{
	background: #f1f1f1;
	color: #343a40;
}

#menu ul li> .sub-menu{
	display: none;
	position: absolute;
	text-align: center;
	left: 0;
}

.sub-menu li{
	float: left;
	position: relative;
	text-align: center;
}

#menu ul li:hover .sub-menu{
	display: block;
}
/*  */
.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}