<div>
    <div class="mt-5 pt-4">
        <div class="container prd-dark-grey-text">
            <div class="row">
                <div class="col-md-6 mb-4 border-right">
                    <img class="img-fluid"
                        src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" alt="" />
                </div>
                <div class="col-md-6 mb-4 text-left">
                    <div class="p-4">
                        <h3 class="mb-3">Tivi thông minh Samsung LED 32-inch - Hàng chính hãng</h3>
                        <div class="mb-3">
                            <span class="mr-3">Rating here <a href="/" class="prd-small-text">(Xem 223 đánh
                                    giá)</a></span>
                            <a href="/">
                                <span class="badge badge-pill badge-primary mr-1 shadow">Điện tử</span>
                            </a>
                            <a href="/">
                                <span class="badge badge-pill badge-danger mr-1 shadow">Mới</span>
                            </a>
                            <a href="/">
                                <span class="badge badge-pill badge-warning mr-1 shadow">Bán chạy</span>
                            </a>
                        </div>
                        <p class="lead">
                            <span class="text-strike mr-3">
                                <del>4.000.000 vnd</del>
                            </span>
                            <span class="">6.000.000 vnd</span>
                        </p>
                        <p class="mb-3 font-weight-bold prd-large-text">Mô tả:</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, explicabo quas. Dolores
                            perferendis aliquid illum beatae at necessitatibus voluptatibus est eum vel voluptas itaque,
                            omnis ad blanditiis nulla quam incidunt.</p>

                        <form class="d-flex justify-content-left">
                            <input type="number" value="6100000" aria-label="Search" class="form-control w-25 mr-2" />
                            <button class="btn btn-outline-primary w-50" type="submit">Ra giá</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <hr class="container">
        </hr>

        <div class="mb-3 rounded container">
            <div class="row p-5 prd-att-background d-flex">
                <h3 class="mb-4">Lịch sử đấu giá</h3>
                <table class="table text-left prd-normal-text">
                    <thead>
                        <tr>
                            <th class="w-25">Thời điểm</th>
                            <th class="w-25">Người đấu giá</th>
                            <th class="w-75">Số tiền</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1/11/2019 10:43</td>
                            <td>****Khoa</td>
                            <td>6,000,000</td>
                        </tr>
                        <tr>
                            <td>1/11/2019 9:43</td>
                            <td>****Quang</td>
                            <td>4,000,000</td>
                        </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>